.container {
    background-color: #E8D573;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 20px;
    border: 1px solid #000;
    box-shadow: 1.5px 1.5px black;
}