.container {
    width: 290px;
    margin-bottom: 70px;
    max-width: 290px;
    min-width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container:hover {

}

/* --------------------------------------------------------HEADER */
.header {
    width: 295px;
    border-top: 1.5px solid #242424;
    border-right: 1.5px solid #242424;
    border-left: 1.5px solid #242424;
    border-radius: 15px 15px 5px 5px;
    background-color: #9eb6a7;
}
.titles {
    height: 90px;
    
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    
    
    margin: 0 10px;
    padding: 10px 0;
    border-bottom: .8px solid #242424;
}

.id {
    font-size: 12px;
    text-align: start;
    color: #242424;
}

.nameContainer {
    height: fit-content;
    grid-column: 2 / 3;
    align-self: center;

    background-color: #65F98F;

    border: .8px solid #242424;
    border-radius: 3px;
    box-shadow: 0 0 10px 1.5px #B6FEC2;
}
.name {
    margin:3px 0;
    color: #242424;
}
.button {
    grid-column: 3 / 4;
    margin: 10px 5px 10px 15px;
    height: 30px;
    width: 30px;
    border: 2px solid #242424;
    border-radius: 50%;
    box-shadow: 1.1px 1.2px black;
    background-color: #b3484c;
}
.button:hover {
    box-shadow: 1px 1px rgb(0 0 0 / 0%);
    transition-duration: .3s;
}

/* --------------------------------------------------------MIDDLE */
.middle {
    background-color: #6d7579;
    border-right: 1.5px solid #242424;
    border-left: 1.5px solid #242424;
}
.image {
    margin: 2.5% 0;
    width: 95%;
    border: 1.5px solid #242424;
    border-radius: 5px;
    box-shadow: 0 0 10px 1.5px #B6FEC2;
}


/* --------------------------------------------------------FOOTER */
.footer{
    width: 295px;
    background-color: #b0b156;
    border-bottom: 1.5px solid #242424;
    border-right: 1.5px solid #242424;
    border-left: 1.5px solid #242424;
    border-radius: 5px 5px 15px 15px;
}
.etiquetas {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 10px;
    padding: 10px 0;
    border-top: .8px solid #242424;
}

.etiqueta {
    display: grid;
    grid-template-columns: 33% 66%;
}

.circle {
    width: 21px;
    height: 21px;
    margin: 0 25px;
    align-self: center;
    border-radius: 50%;
    background-color: #4e7d53;
    border: 4.5px solid #b1d1ab;
}
.species {
    background-color: lightblue;
    font-size: small;
    border: 1px solid #242424;
    border-radius: 3px 10px 6px 3px;
}
.gender {
    /* rgb(255, 255, 177) */
    background-color: #FFDF5C;
    font-size: small;
    border: 1px solid #242424;
    border-radius: 3px 10px 6px 3px;
}